body{
    background-color: blue;
}
header{
    background-image: url(../just.jpg);
    height: 30vh;
    background-size: cover;
    background-position: center;
}
ul{
    float: right;
    list-style-type: none;

}
ul li{
    display: iniline-block;
}
ul li a{
    text-decoration: none;
    color #fff;
    padding: 5px 20px;
}
