<!DOCTYPE html>

<html lang="en">
    <head>

        <meta charset="UTF-8">
        <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet">
        <title>Global Code</title>



    </head>

    <body>
        <header>

            <div>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="Service.html">Service</a></li>
                    <li><a href="Contact.html">Contact</a></li>
                    <li><a href="About.html">About</a></li>
                 </ul>
            </div>

            <h1>Global Code</h1>
            <h3>Summer Camp 2019</h3>
        </header>

        <h1 > Hello World</h1>

    </body>


</html>